<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated model -->
      <package
            uri="com.lunifera.nndesigner"
            class="com.lunifera.nndesigner.NndesignerPackage"
            genModel="src/nndesigner/base.xcore"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated keras -->
      <package
            uri="com.lunifera.nndesigner.model.keras"
            class="com.lunifera.nndesigner.model.keras.KerasPackage"
            genModel="src/nndesigner/keras.xcore"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated base -->
      <package
            uri="com.lunifera.nndesigner.model"
            class="com.lunifera.nndesigner.model.ModelPackage"
            genModel="src/nndesigner/base.xcore"/>
   </extension>

</plugin>
