<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated keras -->
      <package
            uri="org.eclipse.athene.nn.model.keras"
            class="org.eclipse.athene.nn.model.keras.KerasPackage"
            genModel="src/nndesigner/keras.xcore"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated tensorflow -->
      <package
            uri="org.eclipse.athene.nn.model.tensorflow"
            class="org.eclipse.athene.nn.model.tensorflow.TensorflowPackage"
            genModel="src/nndesigner/tensorflow.xcore"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated base -->
      <package
            uri="org.eclipse.athene.nn.model.core"
            class="org.eclipse.athene.nn.model.core.CorePackage"
            genModel="src/nndesigner/core.xcore"/>
   </extension>

</plugin>
