/ActivationFunction.java
/CoreFactory.java
/CorePackage.java
/Design.java
/DotFunction.java
/Element.java
/Function.java
/InitializerFunction.java
/IntegerDuple.java
/Layer.java
/LossFunction.java
/MathFunction.java
/MatmulFunction.java
/Model.java
/Padding.java
/Shape.java
/Shape2D.java
/Shape3D.java
/Tensor.java
